.loading-circle-container{
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-circle {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.loading-circle::before,
.loading-circle:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.loading-circle:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #fff685 0%, #00DDFF 100% );
    animation: spin .5s infinite linear;
}
.loading-circle:after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}
